<div class="blog">

        <h3>{{show.title}}</h3>
        <p>
            {{show.body}}
        </p>
        <address>{{show.writer}}</address>
</div>
<div class="format-section">
    <a href="/all">Back</a>
    <form action="/remove/{{id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Post">
    </form>
     <a href="/update/{{id}}/edit">Update Post</a>
</div>
