<div class="blog">
        <h3>{{title}}</h3>
        <p>
            {{body}}
        </p>
        <address>{{writer}}</address>
    </div>

    <form action="{{links.remove}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Blog Post">
    </form>
     <form action="{{links.update}}?_method=PUT" method="POST">
        <input type="submit" value="Update Blog Post">
    </form>
